@mixin respond-to($breakpoint) {
  @if $breakpoint == "small" {
    @media (min-width: 0px) {
      @content;
    }
  }
  @else if $breakpoint == "medium" {
    @media (min-width: 768px) {
      @content;
    }
  }
  @else if $breakpoint == "large" {
    @media (min-width: 1024px) {
      @content;
    }
  }
}

.topbar-logo {
  padding-top: 4em;
  padding-bottom: 3em;
  margin: auto;
  width: 290px;

  img {
    width: 100%;
  }

  @include respond-to(medium) {
    width: 300px;
  }

  @include respond-to(large) {
    width: 315px;
  }
}
