<img src="../assets/airship-logo.svg" alt="">

<div class="signup-container">
  <p>Sign up to be a <span>beta test pilot</span> in Fall 2016!</p>
  <form [formGroup]="emailForm" (submit)="validateEmail($event)">
  <label for="email">Email</label>
  <input name="email" type="text" formControlName="email" placeholder="Enter your email" />
  <p *ngIf="invalidEmail===true">Please enter a valid email</p>
  <button type="submit">Sign up to be a test-pilot</button>
  </form>
  <p>We will only contact you with information about AirshipCMS and we will never share it with anyone</p>
</div>

