<div class="choose-aircraft-container">
  <p>AirshipCMS allows you to host and manage content for projects of any size.</p>
  <p>What kind of projects do you want to build?</p>
  <div class="aircraft-container">
    <div class="aircraft">
      <img src="../../assets/paper-plane-graphic.svg" alt="">
      <p>Paper Plane</p>
      <p>I want to build a blog or website with a few pages</p>
    </div>
    <div class="aircraft">
      <img src="../../assets/airship-graphic.svg" alt="">
      <p>Airship</p>
      <p>I want to build a large website with many pages, collections, or products</p>
    </div>
    <div class="aircraft">
      <img src="../../assets/spaceship-graphic.svg" alt="">
      <p>Spaceship</p>
      <p>I want to use Airship as a CMS for my custom web application.</p>
    </div>
  </div>
  <a routerLink="/thank-you"><button>Submit</button></a>
  <a routerLink="/thank-you">Skip</a>
</div>
